//- login/forgotpassword.pug
// BEGIN FORGOT PASSWORD FORM
form.forget-form(action='trygetpassword', method='post')
	h3.font-green 忘记密码 ?
	p  在下方输入您的注册邮箱以重设您的密码
	.alert.alert-danger.display-hide
		button.close(data-close='alert')
		span  Enter valid e-mail address. 
	.form-group
		input.form-control.placeholder-no-fix(type='text', autocomplete='off', placeholder='Email', name='email')
	.form-actions
		button#back-btn.btn.green.btn-outline(type='button') 返回
		button.btn.btn-success.uppercase.pull-right(type='submit') 提交
// END FORGOT PASSWORD FORM