//- layouts/asetting.pug
include ../includes/pagehead
body.page-header-fixed.page-sidebar-closed-hide-logo.page-content-white.page-md
	div.page-wrapper
		include ../includes/header
		// BEGIN HEADER & CONTENT DIVIDER
		.clearfix  
		// END HEADER & CONTENT DIVIDER
		div.page-container
			include ../includes/sidebar
			include ../includes/accountsetting
		include ../includes/footer
	include ../includes/pagetail