//- layouts/login.pug
include ../includes/pagehead
body.login
	include ../includes/logo
	// BEGIN LOGIN
	div.content
		include ../login/loginform
		include ../login/forgotpassword
		include ../login/registrationform
	include ../includes/footer
include ../includes/pagetail
