//- layouts/resetpasswd.pug
include ../includes/pagehead
body.login
	include ../includes/logo
	// BEGIN LOGIN
	div.content
		include ../login/resetpasswdform
	include ../includes/footer
include ../includes/pagetail
